<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TutorialHank</title>

    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

</head>
<body>

    <element event="/Tutorial/dataRequest/apiCall.js"></element>
    <script src="/Tutorial/calculator/calculator.js"></script>
    <p style="color:rgba(158, 152, 66, 0.432);">DumDum</p>
    <a href="https://github.com/GCPHank/GCP_bIT">Link zum Repo</a>
    <a href="/Tutorial/dataRequest/apiCallTwo.js">Apple Aktienkurs</a>

    <p>This is a paragraph.
    <form action="/Tutorial/dataRequest/apiCallTwo.js">
        <button>Send</button>
    </form>

    <p>This is a paragraph.
    <img src="cat.jpg">

</body>
</html>